body{
  margin-left: 120px;
  margin-right: 120px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div.book{
  display: inline-grid;
  margin: 15px;
}

div.book-cover{
 background-color:blanchedalmond;
 width: 250px;
 height: 350px;
 position: relative;
 text-align: center;
}

.title{
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin: 15px
}

.author{
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  margin: 15px
}

.year{
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}
