body{
  background-image: url("https://images.pexels.com/photos/207662/pexels-photo-207662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size:contain;
  background-color: brown;
  margin-left: 120px;
  margin-right: 120px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}



div.book{
  display: inline-block;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: top;
}

div.book-cover{
 background-color:rgb(59, 102, 167);
 color:rgb(255, 250, 244);
 width: 300px;
 height: 400px;
 position: relative;
 text-align: center;
}

div.open-book{
  background-color:rgb(255, 250, 244);
  width: 300px;
  height: 400px;
  text-align: center;
 }

 div.likes-div{
  padding-bottom: 15px;
  color:rgb(59, 102, 167);
  background-color: rgb(255, 250, 244);
  margin-bottom: 5px;
  width: 300px;
  text-align: center;
  border-radius: 5px;
 }

.title{
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin: 15px
}

.author{
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  margin: 15px
}

.year{
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.summary{
  font-size: small;
  margin: 0px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color:brown;
}

.likes{
  padding-top: 15px;
  font-size: large;
}

.like-btn{
  background-color: rgb(10, 44, 94);
  width: 60px;
  height: 60px;
  border-radius: 40px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: xx-large;
  border: 0px;
}

.theme{
  text-align: left;
  padding-bottom: 15px;
  font-size: small;
  font-weight: bold;
  color:brown;
}

