body{
  margin-left: 120px;
  margin-right: 120px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div.book{
  display: inline-grid;
  margin: 15px;
}

div.book-cover{
 background-color:blanchedalmond;
 width: 250px;
 height: 350px;
 text-align: center;
}
